body {
  background-image: url("background.jpg");
}

.text {
  color: #484848;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}

.text-essay {
  color: #484848;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
}

.home-content {
  margin-left: 60px;
}

.white-background {
  border-radius: 4px;
}

#footer {
    width: 100%;
    background-color: #383737;
    bottom: 0;
    position: absolute;
}

.footer-text {
  text-align: right;
  padding-right: 20px
}

.footer-text h1, h4 {
  color: white;
}

.emailForm {
  padding-left: 15px;
}
