html, body {
  margin: 0;
  padding: 0;
  font-size: 9vh;
  font-family: 'Arial';
}
#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
#adjective {
  background: white;
  border-radius: 5px;
  padding: 8px;
  color: black;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#adjective:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
a {
  text-decoration: none;
  color: black;
}
