body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.header {
  background-image: url("header.png");
  width: 100%;
  padding: 40px 0;
  color: white;
  text-align: center;
  height: 200px;
}

#header-name {
  margin-top: 45px;
}


nav ul {
  background-color: #202020;
  overflow: hidden;
  padding: 0;
  text-align: left;
  margin: 0;
  -webkit-transition: max-height 0.4s;
  -ms-max-height: 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
}

nav ul li {
  display: inline-block;
  padding: 20px;
  color: white;
}

nav ul li a {
  text-decoration: none;
}

nav ul li:hover{
  background-color: #B0B175;
}

section {
  line-height: 1.5em;
  font-size: 1.0em;
  padding: 40px;
  width: 75%;
  margin: 0 auto;
}

.handle {
  width: 100%;
  background: #202020;
  text-align: left;
  box-sizing: border-box;
  padding: 20px 10px;
  cursor: pointer;
  color: white;
  display: none;
}

.mobile-header {
  display: none;
}

.mobile-content {
  display: none;
}
