@import url(https://fonts.googleapis.com/css?family=Roboto);

/* Overhead Rules */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

p {
  font-size: 16px;
}

/* Content Rules */
.section {
  margin-bottom: 40px;
}

.main {
  position: relative;
}

.wrapper {
  width: 100%;
  background-color: white;
}

.mobile-content {
  display: none;
}

#photo-title-15, #photo-title-16 {
  margin-bottom: 35px;
}

/* Image Page Rules */
.solo-image {
  text-align: center;
  margin-bottom: 80px;
}

.solo-image img{
  height: 50%;
  width: 50%;
  border-radius: 7px;
}

.back-button {
  margin-top: 2px;
  margin-left: 17px;
}

.back-button img{
  height: 5%;
  width: 5%;
}

/* Header Rules */
.header {
  background-image: url("images/header.png");
  width: 100%;
  height: 200px;
  padding: 40px 0px;
  color: white;
  text-align: center;
  height: 200px;
	position: fixed;
  z-index: -1;
}

#header-name {
  margin-top: 45px;
  font-size: 50px;
  color: #202020;
}

.mobile-header {
  display: none;
}

/* Navigation Rules */
nav {
  display: none;
}

nav ul {
  background-color: #202020;
  overflow: hidden;
  text-align: left;
}

nav ul li {
  display: inline-block;
  padding: 20px;
  color: white;
}

nav ul li a {
  text-decoration: none;
}

nav ul li:hover{
  background-color: #9E9E9E;
}

.mobile-nav {
  display: none;
}

.desktop-nav {
  margin-top: 200px;
}

.fixed {
  z-index: 5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  margin-top: 0;
}

/* Misc. Rules */
.handle {
  width: 100%;
  background: #202020;
  text-align: left;
  box-sizing: border-box;
  padding: 20px 10px;
  cursor: pointer;
  color: white;
  display: none;
  margin-top: 200px;
}

.line {
  width: 75%;
  height: 4px;
  background-color: #202020;
  border-radius: 3px;
}

::-webkit-scrollbar {
  display: none;
}

.active {
  color: grey;
}
