@media screen and (max-width: 900px){
  .mobile-nav {
    display: block;
    position: relative;
  }

  .mobile-nav a {
    padding-left: 10px;
  }

  .desktop-nav {
    display: none;
  }

  nav ul {
    max-height: 0px;
  }

  nav ul {
    background-color: #202020;
    overflow: hidden;
    text-align: left;
    -webkit-transition: max-height 0.4s;
    -ms-max-height: 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;
  }

  nav ul li {
    display: inline-block;
    padding: 20px;
    color: white;
  }

  nav ul li a {
    text-decoration: none;
  }

  nav ul li:hover{
    background-color: #B0B175;
  }

  .section {
    display: none;
  }

  .showing {
    max-height: 20em;
  }

  .notShowing {
    max-height: 0px;
  }

  nav ul li {
    box-sizing: border-box;;
    width: 100%;
    padding: 15px;
    text-align: left;
  }

  .handle {
    display: block;
  }

  .header {
    display: none;
  }

  .mobile-header{
    display: block;
    background-image: url("header.png");
    width: 100%;
    height: 200px;
    padding: 40px 0;
    color: white;
    text-align: Left;
    height: 200px;
    z-index: -1;
    position: fixed;
  }

  .mobile-header h2 {
    margin-left: 20px;
    margin-top: 45px;
  }

  .mobile-content {
    display: block;
    margin-top: 25px;
  }

  .fixed {
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin-top: 0;
  }

}
