@media screen and (max-width: 1200px){
  .archive-link{
    margin-top: 30px;
  }

  .mobile-link {
    display: block;
  }

  .desktop-link {
    display: none;
  }

}

@media screen and (max-width: 625px){
  .desktop-header {
    display: none;
  }

  .mobile-header {
    display: block;
  }

  .image {
    padding-left: 10px;
    margin-right: 10px;
  }

}
