@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-size: 32px;
}

body {
  display: flex;
  flex-direction: column;
}

#content-one {
  height: 800px;
  display: flex;
  flex-direction: row;
  background-color: #F06292;
  font-size: 64px;
  align-items: center;
  justify-content: center;
}

#content-two {
  height: 800px;
  display: flex;
  flex-direction: row;
  background-color: #3F51B5;
  font-size: 64px;
  align-items: center;
  justify-content: center;
}
